body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
}

/* add backgound image and place content in center */
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/coverback-image.png);
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/* STYLE NAVIGATION BAR: LOGO AND RIGHT SIDE OF THE BAR  */

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 462px;
    margin: 0px 59px 0px 59px;
    padding: 23px 164px 23px 136px;
    max-width: 1322px;
}

.nav-right-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 39px;
}


.logo {
    width: 130px;
    height: 32px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    padding: 0px 13px 57px 13px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
}

.nav-ul {
    display: flex;
    flex-direction: row;
    gap: 29px;
}

.nav-ul li {
    list-style: none;
}

.nav-ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.nav-ul li a:hover {
    text-decoration: underline;
}

.nav-right {
    display: flex;
    flex-direction: row;
    gap: 18px;
}

/* STYLE THE HEADLINE CONTAINER */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 80px 0px 80px 0px;
    gap: 80px;

}

.main-content {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 40px 0px 40px 0px;
    gap: 40px;

}

h1 {
    width: 573px;
    height: 143px;
    text-align: center;
    font-size: 58px;
    font-style: normal;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: 0.2px;
    margin: 0;
}

h4 {
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.2px;
    /* margin: 0; */
}

.button-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

}

/* ADD A LOT OF PROPERTIES FOR BUTTONS */
.btn-orange {
    width: 185px;
    height: 48px;
    color: white;
    padding: 10px 36px;
    border-radius: 37px;
    border: none;
    gap: 10px;
    background-color: #FFA62B;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.2px;
    cursor: pointer;
}

.btn-orange:hover {
    opacity: 0.8;
    transition: ease-in 0.3s;

}

.btn-default {
    width: 185px;
    height: 48px;
    padding: 10px 36px;
    border-radius: 37px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.2px;
    cursor: pointer;

}

.btn-default:hover {
    opacity: 0.8;
    border: none;
    background-color: #FFA62B;
    transition: ease-in 0.3s;
}