:root {
    --primary-color: #FFA62B;
    --background-color: #252B42;
    --line-color: rgba(54, 64, 103, 1);
    --light-text-color: #FFF;
    --muted-color: #BDBDBD;
    --secondary-color: #16697A;
    --second-text-color:#737373;
    --text-color:#252B42;
}

.body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
    /* min-width: 320px */
    background-color: var(--background-color);
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--light-text-color);
}

/* add backgound image and place content in center */
.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/coverback-image.png);
    background-size: cover;
    box-sizing: border-box;
    background-position-x: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}



/* STYLE NAVIGATION BAR: LOGO AND RIGHT SIDE OF THE BAR  */

.header__container--navigation {

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 23px 0px 23px 0px;
    max-width: 1050px;
}

.header__container--rigth-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.logo {
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
    padding-left: 20px;
    padding-right: 57px;
}

.head__container--rigth-side__ul {
    display: flex;
    gap: 29px;
}

.head__container--rigth-side__ul li {
    list-style: none;
}

.head__container--rigth-side__ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.head__container--rigth-side__ul li a:hover {
    text-decoration: underline;
}

.nav-right {
    display: flex;
    gap: 20px;

}

.menu-icon {
    display: none;
}

/* STYLE THE HEADLINE CONTAINER */

.header__container--heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 80px 0px 80px 0px;
    gap: 80px;
}

.header__container--heading__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 40px 0px 40px 0px;
    gap: 40px;

}

.heading-one {
    max-width: 461px;
    text-align: center;
    font-size: 58px;
    font-style: normal;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: 0.2px;
    margin: 0;
}

.heading-four {
    max-width: 573px;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.2px;
    margin: 0;
}

h5 {
    margin: 0;
}


.button-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

/* ADD A LOT OF PROPERTIES FOR BUTTONS */

.button {
    padding: 10px 36px;
    border-radius: 37px;
    color: white;
    background-color: transparent;
    text-align: center;
    border-color: white;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.2px;
    font-size: 14px;
    cursor: pointer;
}

.btn-orange {


    border-color: var(--primary-color);
    background-color: var(--primary-color);
}

.btn-orange:hover {
    opacity: 0.8;
    transition: ease-in 0.3s;
}


.btn-default:hover {
    opacity: 0.8;
    border: none;
    background-color: var(--primary-color);
    transition: ease-in 0.3s;
}


/* STYLE SECOND SECTION */
.container__choose-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 195px 100px 198px;

}

/* STYLE HEADING */
.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 864px;
    padding: 40px 0px 40px 0px;
}

.heading--two {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
    margin: 0;
    text-align: center;
    max-width: 481px;
}

.choose-us__heading--p {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    max-width: 390px;
    letter-spacing: 0.2px;
    margin: 10px 0px 0px 0px;
}

.choose-us__heading--paragr {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    max-width: 470px;
    letter-spacing: 0.2px;
    margin: 0;
}

/* STYLE CONTAINER WITH CARDS */
.choose-us__container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
}

.choose-us__container--card {
    background-color: white;
    max-width: 328px;
    color: black;
    padding: 35px 40px 35px 40px;
    display: grid;
    gap: 15px;
    align-items: center;
}

.container--card-heading {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 0;
    min-height: 48px;

}

.card-p {
    margin: 0px;
    max-width: 248px;
    color: rgba(115, 115, 115, 1);
    font-weight: 500;
    font-size: 14px;
}

.card-heading {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
}


/* STYLE FOOTER */

.footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer__primary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 44px;
    max-width: 1050px;


}

.footer__container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;




}

.footer__container--social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.social-icon--list {
    list-style: none;
}

.footer-logo {
    padding: 13px 57px 13px 0px;
}


.hr-line {
    width: 100%;
    max-width: 1057px; 
    border: 1px solid var(--line-color);
    margin: 0;
    padding: 0;

}

.footer__main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 70px 0px;
}

.footer__nav {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 30px;
    width: 100%;
    justify-content: space-between;


}

.footer__nav--column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav--colum__ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-submit {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-wrap {
    display: flex;
    border-radius: 5px;
    border: 1px solid #E6E6E6;
    background: #F9F9F9;
}


.input-field {
    padding: 15px 0px 15px 20px;
    border: none;
    color: var(--muted-color);
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;

}

.input-field:hover {
    color: black;
}

.input-button {
    background-color: var(--primary-color);
    color: var(--light-text-color);
    padding: 15px 22px 15px 22px;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #E6E6E6;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.6px;
    text-align: center;
}

.under-input {
    color: var(--muted-color);
    font-size: 12px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.4px;
    margin-top: -20px;

}




.nav--column__heading {
    color: var(--light-text-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
}



.nav--column__li {
    list-style: none;
    color: var(--light-text-color);

}

.nav--column__link {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: var(--muted-color);
}

.nav--column__link:hover {
    text-decoration: underline;
    color: var(--light-text-color);
}


.footer__secondary {
    width: 100%;
    background-color: var(--secondary-color);
    padding: 25px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__secondary--rights {
    color: var(--light-text-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.2px;
    
}
.footer__secondary--container{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1050px;
}

/* STYLE VIDEO SECTION */
.video-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 14.58%, rgba(56, 56, 56, 0.84) 100%);

}
.container__video{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0px 80px 0px;
    max-width: 880px;
}
/* STYLE CLIENT SAY SECTION */
.client-say{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0px;

}
.container__client-say{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1050px;

    }

.client-say__card-wraper{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
}


.card-item{
    display: flex;
    flex-direction: column;
    max-width: 257px;
    padding: 30px 35px;
    background-color: var(--light-text-color);
    color: var(--second-text-color);
    gap: 20px;
    border-radius: 5px;
    border: 1px solid #DEDEDE;
}
.card-item__stars{
    display: flex;
}
 
.heading-six{
    font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 24px;
letter-spacing: 0.2px;

}


.client-photo{
    grid-area: photo;
}
.client__fullName{
    grid-area: name;
}
.client-prof{
    grid-area: prof;
}

.card-item__client{
    display: grid;
    grid-template-areas: "photo name" "photo prof";
    align-items: center;
    justify-content: start;
    column-gap: 10px;
}
.client__fullName{
    color: var(--primary-color);
    font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 24px; 
letter-spacing: 0.2px;
}
.client-prof{
    color: var(--text-color);
}


/* STYLE OUR TEAM SECTION */
.meet-team{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;
}
.container__meet-team{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1050px;
}
.team-wraper{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;
}
.team-wraper__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 328px;
    background-color: var(--light-text-color);
    color: var(--text-color);
}
.card-content{
    /* display: grid;
    grid-template-rows: auto auto; */
    padding: 30px 30px;

    text-align: center;
}



@media screen and (max-width: 640px) {

    .header__container {
        display: flex;
        flex-direction: column;
    }

    .header__container--navigation {
        margin-top: 40px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        box-sizing: border-box;



    }

    .header__container--rigth-side {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 15px;
    }

    .head__container--rigth-side__ul {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;

    }

    .nav-right {
        display: flex;
        align-items: center;
    }



    .header__container--heading__content {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    h1 {

        font-size: 18px;
        line-height: 40px;
        letter-spacing: 0.2px;
        margin: 0;
    }

    h4 {
        font-size: 12px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0.2px;
        margin: 0;

    }

    .button {
        font-size: 10px;
        padding: 2px 7px 2px 7px;
    }
}